.heading
{
    width: 100%;
    margin: 0px;
    font-size: 22px;
   font-family: cursive;
}
.play_button
{
    width: 130px;
    font-size: 25px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
}